<div class="row">
    <h1>Hard & Soft Skills</h1>
    
        <div class="text center col-sm-4 col-md-4 col-lg-4">
            <div>
    <circle-progress
        [radius]="100"
        [percent]="85"
        [title]="'Html'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"   
        
     ></circle-progress>
    </div>
</div>

        <div class="text center col-sm-4 col-md-4 col-lg-4">
        <div>
<circle-progress
     [radius]="100"
    [percent]="85"
    [title]="'Html'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"   
    
 ></circle-progress>
</div>
</div>

        <div class="text center col-sm-4 col-md-4 col-lg-4">
        <div>
<circle-progress
     [radius]="100"
    [percent]="85"
    [title]="'Html'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"   
    
 ></circle-progress>
</div>
</div>

        <div class="text center col-sm-4 col-md-4 col-lg-4">
    <div>
<circle-progress
     [radius]="100"
    [percent]="85"
    [title]="'Html'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"   
    
 ></circle-progress>
</div>
</div>

        <div class="text center col-sm-4 col-md-4 col-lg-4">
        <div>
<circle-progress
     [radius]="100"
    [percent]="85"
    [title]="'Html'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"   
    
 ></circle-progress>
</div>
</div>




</div>